body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 2%;
}

h1{
    text-align: center;
    font-family:Verdana, Tahoma, sans-serif;
}

p{
    font-style: italic;
    margin-bottom: 30px;
    text-align: center;
}

/* Styles pour la fenêtre modale */
.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour assombrir l'arrière-plan */
}

/* Styles pour le contenu de la fenêtre modale */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    top:15%;
    left:25%;
    width: 50%;
    height: 70%;
    position: absolute;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #333;
    text-align: center;
}

.modal-content p{
    margin: 0;
    text-align:center;
}

.modal-content img {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}

.modal-content .btn-link {
    position:relative;
    padding: 10px 10%;
    margin: 0;
    margin-top: 10px;
    margin-left: 30%;
    background-color: #b38300;
}

.modal-content .btn-link:hover{
    background-color: #866300;
}

.modal-content .price{
    position:relative;
    margin: 0;
    margin-top: 10px;
    margin-right: -10%;
    color: #333; /* Couleur du texte du bouton */
    text-decoration: none;
    font-size:larger;
}

/* Styles pour le bouton de fermeture de la fenêtre modale */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styles pour le conteneur des CD */
.cd-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

/* Styles pour la présentation des CD */
.cd {
    border: 1px solid #ccc;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #33333344;
    display: flex;
    background-color: #fff;
    transition-duration: 0.1s;
}

.cd:hover {
    background-color: #ebebeb;
    border: 1px solid #b6b6b6;
}


.cd img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
    margin-right: 15px;
}

/* Styles pour le lien stylisé comme un bouton */
.btn-link {
    display: inline-block;
    position:absolute;
    padding: 10px 15px;
    margin-top: 120px;
    margin-left: 25px;
    background-color: #007bff; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    text-decoration: none;
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s; /* Transition de couleur de fond au survol */
    cursor: pointer;
}

.btn-link:hover {
    background-color: #0056b3; /* Nouvelle couleur de fond au survol */
}

.lienImportant {
    margin: 1%;
    color: black;
    text-decoration: none;
    transition-duration: 0.2s;
}

.lienImportant:hover {
    color: #555;
}